page-home {
    ion-content {
        font-family: $font-famliy!important;
        ion-list {
            ion-item {
                ion-thumbnail {
                    min-height: 0!important;
                }
                div {
                    img {
                        max-height: 300px;
                        width: 100%;
                    }
                }
            }
        }
    }
    ion-header {
        ion-toolbar {
            padding: 0!important;
            min-height: 30px!important;
            max-height: 30px!important;
            ion-segment {
                background-color: rgba(158, 158, 158, 0.15)!important;
                .segment-button {
                    border: none!important;
                    color: black!important;
                    font-family: $font-famliy!important;
                }
                .segment-activated {
                    color: #387ef5!important;
                    font-size: 1.4rem!important;
                    font-weight: bold!important;
                    background-color: transparent!important;
                }
            }
        }
    }
}